@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(152,206,232);
    background: linear-gradient(180deg, rgba(152,206,232,1) 0%, rgba(77,197,232,1) 4%, rgba(26,114,200,1) 95%, rgba(51,155,222,1) 100%);
}

.topic {
    color: #fff;
    font-weight: 900;
    margin: 30;
    line-height: 1em;
}

.detail_header {
    color: #fff;
    font-size: 2vw;
    font-weight: 900;
    margin: 30;
    line-height: 1em;
}

.detail_text {
    color: #fff;
}

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 5px solid black;
    border-radius: 5px;
  }
  
/* Fading animation */
.fadepic {
    animation-name: fadepic;
    animation-duration: 1.5s;
}

@keyframes fadepic {
0% {opacity: .4}
100% {opacity: 1}
}


.fade-in-right {
    animation: fade-in-right 1.2s forwards;
}

.fade-in-left {
    animation: fade-in-left 1.2s forwards;
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateX(2000px)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translateX(0px)
    }
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateX(-50px)
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translateX(0px)
    }
}