@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    background: rgb(152,206,232);
    background: linear-gradient(180deg, rgba(152,206,232,1) 0%, rgba(77,197,232,1) 4%, rgba(26,114,200,1) 95%, rgba(51,155,222,1) 100%);
}

a:hover {
    cursor: pointer;
}

.topic {
    color: #fff;
    font-weight: 900;
    text-shadow: 2px 2px #DAA520; /*#f57474*/
    margin-top: 20px;
    line-height: 1em;
}

.expName {
    text-shadow: 2px 1px #f57474;
}

.expDescription {
    font-family: 'Mitr', sans-serif;
}

.detail_header {
    color: #fff;
    font-size: 2vw;
    font-weight: 900;
    margin: 30;
    line-height: 1em;
}

.detail_text {
    color: #fff;
    text-shadow: 2px 2px #4a47f0;
}

.nav-container {
    position: fixed;
}

#navText {
    width: 100px;
    margin-top: -12px;
    display: none;
    position: absolute;
}
#navTextBG {
    width: 0px;
    margin-top: -12px;
    height: 24px;
    display: none;
    position: absolute;
}
.nav-btn {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 100%;
    background-color: transparent;
}
.nav-btn.active, .nav-btn:hover {
    background-color: white;
}
.nav-btn:hover #navTextBG {
    background-color: white;
    display: block;
    animation: navBtnAnim .3s linear forwards;
}
.nav-btn:hover #navText {
    display: block;
    animation: fadeOpacity .5s linear forwards;
}


@keyframes navBtnAnim {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 100px;
        opacity: 1;
    }
}
@keyframes fadeOpacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}